body{
    font-family: Charm ,'cursive', Arial, Helvetica, sans-serif;
    color:black;
    overflow:hidden;
    font-weight:lighter;
}

.container{
    display:flex;
    flex-direction: column;
    background: url('../img/background.jpg') no-repeat center center/cover;
    height:100vh;
    text-align:center;
    justify-content: center;
    align-items: center;
}
.quote{
    font-family: Charm, 'cursive';
    font-size:18px;
    width:280px;
    margin:10px;
    padding:10px;
    -webkit-box-shadow: 10px 10px 26px 16px rgba(33,133,48,0.26);
    -moz-box-shadow: 10px 10px 26px 16px rgba(33,133,48,0.26);
    box-shadow: 10px 10px 26px 16px rgba(33,133,48,0.26);
    border-radius: 10px;
}
.animated{
    font-family: Charm , 'cursive';
    font-size: 3rem;
    margin:0;
    padding:0;
    background: url('../img/text-animation.png') no-repeat ;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
    animation:motionBackground 7s linear infinite;
    -webkit-animation: motionBackground 7s linear infinite;
}
/* 
 * Background text Animation
 */
@keyframes motionBackground{
    0%{
        background-position: 0% 15%;
    }

    100% {
        background-position: 100% 95%;
    }
}
